# Dependências
node_modules/

# Variáveis de ambiente (Segurança)
.env

# Compilação do TypeScript (arquivos gerados)
dist/
build/
out/

# Logs do NPM
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema Operacional
.DS_Store
Thumbs.db